# Début de la session qui définit les conteneurs 
services:
  django:
    # construire l'image localement
    build:
      context: ..
      dockerfile: docker/Dockerfile
      args:
        SECRET_KEY: ${SECRET_KEY}
    container_name: oc_lettings_django

    # utiliser le fichier .env pour injecter les variables d'environnement
    env_file:
      - ../.env 

    # commande pour lancer le conteneur et collecter les statics
    command: sh -c "python manage.py collectstatic --noinput && gunicorn oc_lettings_site.wsgi:application --bind 0.0.0.0:8000"

    # partager les fichiers statics
    volumes:
      - static_volume:/app/staticfiles

    # mapper le port 8000 du conteneur au port 8000 de la machine
    ports:
      - "8000:8000"

  nginx:
    image: nginx:alpine
    container_name: oc_lettings_nginx
    ports:
      - "80:80"  # le port public
    volumes:
      - static_volume:/usr/share/nginx/html:ro  # statics partagés avec Django
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - django


# déclaration du volume docker
volumes:
  static_volume:
