name: CI_CD pipeline OC Lettings app

permissions:
  contents: read
  pull-requests: write
  checks: write

on: 
  push: 
    branches: [ master ]
  pull_request: 
    branches: [ master ]    

jobs:
  test:
    name: Test app 
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3 # pour cloner le code dasn le workflow (runner)

      - name: Set up Python
        uses: actions/setup-python@v4 # pour installer une version de python
        with:
          python-version: '3.9'

      - name: Set environment variables
        run: echo "SECRET_KEY=${{ secrets.SECRET_KEY }}" >> $GITHUB_ENV
      
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt 
      
      - name: Run tests
        run: pytest --cov --cov-report=term-missing --cov-fail-under=80
  

  linting: 
    name: Run linters
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3


      - name: Set up python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      
      - name: Install dependencies
        run: pip install black flake8
      
      - name: Run linters
        uses: wearerequired/lint-action@v2
        with:
          black: true
          flake8: true 

  
  docker:
    name: Build container
    runs-on: ubuntu-latest
    needs: [test, linting]
    if: github.ref == 'refs/heads/master' && github.event_name == 'push'

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Build and push images
        
        run: |
          docker compose -f docker/docker-compose.yml build --build-arg SECRET_KEY=${{secrets.SECRET_KEY }}
          docker tag oc_lettings_django:latest ${{ secrets.DOCKERHUB_USERNAME }}/oc_lettings_app:latest
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/oc_lettings_app:latest

  deploy:
    name: Deploy on AWS EC2
    runs-on: ubuntu-latest
    needs: docker
    if: github.ref == 'refs/heads/master' && github.event_name == 'push'

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install SSH client
        run: sudo apt-get update && sudo apt-get install -y openssh-client

      - name: Setup SSH key
        run: |
          echo "${{ secrets.AWS_KEY }}" > aws-key.pem
          chmod 600 aws-key.pem

      - name: Copy files to EC2
        run: |
          scp -i aws-key.pem -o StrictHostKeyChecking=no -r . ubuntu@${{ secrets.AWS_HOST }}:/home/ubuntu/app


      - name: Run Docker Compose on EC2
        run: |
          ssh -o StrictHostKeyChecking=no -i aws-key.pem ubuntu@${{ secrets.AWS_HOST }} << 'EOF'
          cd /home/ubuntu/app
          docker compose down || true
          docker compose up -d --build
          EOF