name: CI_CD pipeline OC Lettings app

on: 
  push: 
    branches: [ main ]
  pull_request: 
    branches: [ main ]    

jobs:
  test:
    name: Test app 
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3 # pour cloner le code dasn le workflow (runner)

      - name: Set up Python
        uses: actions/setup-python@v4 # pour installer une version de python
        with:
          python-version: '3.9'
      
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt 
      
      - name: Run tests
        run: pytest --cov --cov-report=term-missing --cov-fail-under=80
    
  linting: 
    name: Run linters
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      
      - name: Install dependencies
        run: pip install black flake8
      
      - name: Run linters
        uses: wearerequired/lint-action@v2
        with:
          black: true
          flake8: true 
  
  docker:
    name: Build container
    runs-on: ubuntu-latest
    needs: [test, linting]
    if: github.ref == 'refs/heads/main' && github.event_name == 'push'

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ${{ vars.DOCKERHUB_USERNAME }}/oc_lettings_app:latest
            ${{ vars.DOCKERHUB_USERNAME }}/oc_lettings_app:${{ github.sha }}




      

